<!-- Footer -->
<footer class="bg-dark text-center text-white" style="width: 100%;">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-primary btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Twitter -->
        <a class="btn btn-outline-primary btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-twitter"></i
        ></a>
  
       
  
        <!-- Instagram -->
        <a class="btn btn-outline-danger btn-floating m-1" href="https://www.instagram.com/mr_vasanth_rv/" role="button"
          ><i class="fab fa-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a class="btn btn-outline-primary btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
  
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/vasanth1558v" role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
  
      <!-- Section: Form -->
      <section class="">
        <form action="">
          <!--Grid row-->
          <div class="row d-flex justify-content-center">
            <!--Grid column-->
            <div class="col-auto">
              <p class="pt-2">
                <strong>CUSTOMER SERVICES</strong>
              </p>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-md-5 col-12">
              <!-- Email input -->
              <div class="form-outline form-white mb-4">
                <input type="email" id="form5Example21" class="form-control" />
                <label class="form-label" for="form5Example21">Email address</label>
              </div>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-auto">
              <!-- Submit button -->
              <button type="submit" class="btn btn-outline-light mb-4">
                SEND
              </button>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </form>
      </section>
      <!-- Section: Form -->
  
      <!-- Section: Text -->
      <section class="mb-4">
        <p>
          SMART TIMES BEST AND ORIGINAL PRODUCTS  
        </p>
      </section>
      <!-- Section: Text -->
  
      <!-- Section: Links -->
      <section class="footerlink">
        <!--Grid row-->
        <div class="row ">
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0 " id="footer1">
            <h5 class="text-uppercase" style="color: rgb(211, 11, 134);">Products</h5>
  
            
              <li style="list-style: none;" >
                <a href="{% url 'products' %}" class="text-white " >I WATCH</a>
              </li>
              <li style="list-style: none;">
                <a href="{% url 'products' %}" class="text-white" >SAMSUNG</a>
              </li>
              <li style="list-style: none;">
                <a href="{% url 'products' %}" class="text-white" >HUAWEI</a>
              </li>
              <li style="list-style: none;">
                <a href="{% url 'products' %}" class="text-white" >MOVADO</a>
              </li>
         
          </div>
          <!--Grid column-->
  
         
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0" id="footer3" >
            <h5 class="text-uppercase" style="color: rgb(211, 11, 134);">Links</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="home" class="text-white" >HOME</a>
              </li>
              <li>
                <a href="{% url 'products' %}" class="text-white" >PRODUCTS</a>
              </li>
              <li>
                <a href="#fea" class="text-white" >FEATURES</a>
              </li>
              <li>
                <a href="#!" class="text-white" >LOG IN</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0 footer" id="footer2">
            <h5 class="text-uppercase" style="color: rgb(211, 11, 134);">GET HELP</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">FAQ</a>
              </li>
              <li>
                <a href="#!" class="text-white">Shipping</a>
              </li>
              <li>
                <a href="#!" class="text-white">Order status </a>
              </li>
              <li>
                <a href="#!" class="text-white">Payment</a>
              </li>
            </ul>
          </div>

          
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      <p class="text-white" >© 2023 Copyright : R.VASANTHAMOHAN</p>
      
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->